html, body {
    height: 100%;
}

body {
    background-image: url("./assets/pexels-kai-pilger-1341279.jpg");
    background-size: cover;
    font-family: 'Cutive Mono', monospace;
}
/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1f69a1;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #035287;
}